---
import BaseLayout from "@layouts/BaseLayout.astro";

const pageTitle = "About Me";

const identity = {
  firstName: "Wojciech",
  country: "Poland",
  occupation: "Software Engineer",
  hobbies: ["BJJ", "Warhammer40k", "Crypto", "AI"],
};

const skills = [
  "HTML",
  "CSS",
  "Typescript",
  "React",
  "Astro",
  "Rust",
  "Solidity",
  "LangChain",
];
---

<BaseLayout {pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    <li><a href="/posts/post-1/">Post 1</a></li>
  </ul>

  <p>Here are a few facts about me:</p>
  <ul>
    <li>My name is {identity.firstName}.</li>
    <li>
      I live in {identity.country} and I work as a {identity.occupation}.
    </li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
  <p>My skills are:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>
