---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
import { Image } from 'astro:assets';

interface Props {
  post: CollectionEntry<'posts'>;
}

const { post } = Astro.props;
---

<BaseLayout pageTitle={post.data.title}>
  <div class="">
    <h3>{post.data.description}</h3>
    <p>{post.data.pubDate.toString().slice(0, 10)}</p>
    <div>
      {
        post.data.tags.map((tag: string) => {
          return (
            <span class="mr-2 rounded bg-slate-700 px-2 py-1 text-white">
              {tag}
            </span>
          );
        })
      }
    </div>
    <p>Written by {post.data.author}</p>
    <p>Published: {post.data.pubDate}</p>

    <Image src={post.data.image.path} alt={post.data.image.alt} />

    <div class="flex flex-wrap gap-2">
      {
        post.data?.tags?.map((tag: any) => (
          <div class="min-w-[100px] rounded-md border-dotted bg-red-400 p-2 text-center">
            <a href={`/tags/${tag}`} class="no-underline">
              {tag}
            </a>
          </div>
        ))
      }
    </div>
    <article class="prose lg:prose-xl">
      <slot />
    </article>
  </div>
</BaseLayout>
