---
import BaseLayout from './BaseLayout.astro'

const { frontmatter } = Astro.props
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="">
    <h3>{frontmatter.description}</h3>
    <div>
      {
        frontmatter.tags.map((tag: string) => {
          return (
            <span class="mr-2 rounded bg-slate-700 px-2 py-1 text-white">
              {tag}
            </span>
          )
        })
      }
    </div>
    <p>Written by {frontmatter.author}</p>
    <p>Published: {frontmatter.pubDate}</p>

    <img src={frontmatter.image.url} alt={frontmatter.image.alt} />

    <div class="flex flex-wrap gap-2">
      {
        frontmatter?.tags?.map((tag: any) => (
          <div class="min-w-[100px] rounded-md border-dotted bg-red-400 p-2 text-center">
            <a href={`/tags/${tag}`} class="no-underline">
              {tag}
            </a>
          </div>
        ))
      }
    </div>
    <slot />
  </div>
</BaseLayout>
